p{
    color:black;
    font-size: medium;
}
h1{
    color: crimson;
    text-align:center;
   
    }
.card{
    background-color: darkmagenta;
}

.card{
    color: darkred;
    }
.container{
    padding: 10px;
    padding-block-start: 50px;
    max-block-size: 20px;
    padding-block-end: 50px;
    
}
h3{
    text-align: center;
    color: black;
}
.container :hover{
    color: chartreuse;
    rotate: right;
    
}
.but :hover{
    color: crimson;

}

.card :hover{
    color: darkmagenta;
 

   
}
#nav :hover{
    color: blue;

}
